@import "colors.less";
/***************************************** FORM.LESS *****************************************/

/****************************************
Form Element StyleSheet
*****************************************/
form {
    padding: 20% 5%;

    fieldset {
        box-shadow: 2px 2px 2.5px rgba(50, 50, 50, 0.75);
        background-color: lighten(@secondary-one, 35%);
        border-radius: 2.5px;
        margin-bottom: 5%;
        width: 100%;
        padding: 1.5%;
    }
    legend {
        text-shadow: 1.5px 1.5px 2px rgba(75, 75, 75, 0.75);
        box-shadow: 2px 2px 2.5px rgba(50, 50, 50, 0.75);
        background-color: darken(@neutral, 35%);
        color: darken(@lighter-neutral, 10%);
        border-radius: 2.5px;
        text-align: left;
        margin-top: 10px;
    }
    select {
        border-radius: 5px;
        font-size: 0.8em;
    }
    label {
        font-size: 0.9em;
    }
    input {
        border-radius: 5px !important;
    }
    h5 {
        color: @darker-secondary-one;
        font-size: 1.2em;
    }
    p {
        text-align: center;
    }
    input[type="checkbox"], input[type="radio"] {
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .button {
        background-color: @darker-secondary-one;
        border-radius: 5px;
        margin: 10%;
        width: 80%;
    }
    .button:hover {
        background-color: @secondary-one;
    }
    #finish-prompt {
        background-color: @lighter-neutral;
        border-radius: 5px;
    }
    #info-popup {
        box-shadow: 2px 2px 2.5px rgba(50, 50, 50, 0.75);
        background-color: @lighter-neutral;
        border-radius: 5px;
        position: relative;
        opacity: 0.85;
        padding: 1.5%;
        width: auto;
        z-index: 5;
    }
}
